# Postgres example
DATABASE_URL=postgresql+psycopg2://postgres:password@127.0.0.1:5432/forwarder_db

# Optional for CORS config
CORS_ORIGIN=http://localhost
# Set to 1 to allow any origin (for network/internet access)
CORS_ALLOW_ALL_ORIGINS=1

# SLA duration in hours
SLA_HOURS=2
